<div class="navbar navbar-light fixed-top navbar-expand-lg">
  <div class="container"><a class="navbar-brand" href="/"><i class="fas fa-cube"></i>Travel Expenses</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        {{#if user}}
        <li class="nav-item"><a class="nav-link" href="/travels">Travels</a></li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav ml-auto">
        {{#unless user}}
          <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="/signup">Create Account</a></li>
        {{else}}
          <li class="dropdown nav-item">
            <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">
              {{#if user.profile.picture}}
                <img src={{user.profile.picture}}>
              {{else}}
                <img src={{user.gravatar}}>
              {{/if}}
              <span> {{#if user.profile.name}} {{user.profile.name}} {{else if user.email}} {{user.email}} {{else}} {{user.id}} {{/if}} </span>
              <i class="caret"></i>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="/account">My Account</a></li>
              <li class="divider dropdown-item"></li>
              <li class="dropdown-item"><a href="/logout">Logout</a></li>
            </ul>

          </li>
        {{/unless}}
      </ul>
    </div>
  </div>
</div>
