{{!< layout}}

{{#if user}}
  {{> travelsHeader}}
  <hr />
  {{#each docs}}
    <p>{{this.countTotal}} {{this._id.year}}</p>
    {{byYear_byMonth this.byYear}}
    {{debug index}}
    {{#each this.byYear}}
      {{byYear_byMonth this.byMonth}}
    {{/each}}
  {{/each}}
{{else}}
  <h2>Login or Sign up
    <!-- <p class="lead">Neki Neki</p> -->
  </h2>
  <div class="row">
    <div class="col-xs-6 p-3 mx-auto">
      <div class="">
        <a class="btn btn-dark btn-lg" href="/login">
          Login
        </a>
      </div>
    </div>
    <div class="col-xs-6 p-3 mx-auto">
      <div class="">
        <a class="btn btn-outline-dark btn-lg" href="/signup">
          Sign up
        </a>
      </div>
    </div>
  </div>

{{/if}}
